<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [11]:
st = "Hello world"
#using len keyword to find length of string
print("length of string is:",len(st))

length of string is: 11

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [12]:
def count(str):
    result = {}
#creating a dictionary
#using for lop to assign keys
    for n in str:
        keys = result.keys()
        if n in keys:
            result[n]+=1
        else:
            result[n]=1
#using ifloop to count the characters
    return result
print(count('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [13]:
li = [1, 19, 20, 11]
total = 0
#using for loop for summing the items
for i in li:
    total = total+i
print("sum of all the items:",total)

sum of all the items: 51

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [15]:
def change(str):
#assigning first character to char
    char = str[0]
#using slicing to get second character till end
    str1 = str[1:]
#using replace function to replace first character with dollar
    str2 = str1.replace(char,'$')
#adding firstcharacter and replaced string for final one
    new = char + str2
    return new  
print(change("restart"))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [14]:
a = float(input("enter value a:"))
#getting input for a
b = float(input("enter value b:"))
#getting input for b
s = 3.14*(1+(a/b))*(1+(a/b))*(1+(a/b))
print("output:",s)

enter value a:1
enter value b:1
output: 25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new = {}
#initiating new dictionary
for i in (dic1, dic2, dic3): 
    new.update(i)
#using update function to add dictionaries into new one
print(new)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [35]:
el = 10
t = (1,2,3,4,5)
#used simple if loop to see if element exists or not
if el in t:
    print("element exists")
else:
    print("element doesnt exist")

element doesnt exist

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [39]:
s = {1,12,3,10,100,0,25}
#used built-in max and min keywords to find minimum and maximum values in string
maximum = max(s)
minimum = min(s)
print(maximum)
print(minimum)

100
0

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [17]:
from itertools import islice
from random import randint

In [34]:
def random_chunk(li, min_chunk=4, max_chunk=5):
#defining a function with minimum and maximum students in group
    it = iter(li)
#using while loop for grouping
    while True:
        nxt = list(islice(it,randint(min_chunk,max_chunk)))
        if nxt:
            yield nxt
        else:
            break
li = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
list(random_chunk(li))

[['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'],
 ['bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135'],
 ['nm0547', 'pn0159', 'msp0174', 'dd0420'],
 ['ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768'],
 ['mv0299', 'tv0119', 'dy0091']]