<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [15]:
import random
#creating new list
li = []
#using for loop to generate random numbers for 12 times and adding to list
for i in range(1,12):
    r = random.randint(0,100)
    li.append(r)
print("random numbers =",li)
#sorting the random numbers list in ascending order
asc = sorted(li,reverse=False)
#sorting the random numbers list in descending order
des = sorted(li,reverse=True)
#calculating average of the list
mean = sum(li) / len(li)
print("ascending order =",asc)
print("descending order =",des)
print("average = ",mean)

random numbers = [25, 76, 74, 63, 34, 67, 43, 11, 8, 77, 31]
ascending order = [8, 11, 25, 31, 34, 43, 63, 67, 74, 76, 77]
descending order = [77, 76, 74, 67, 63, 43, 34, 31, 25, 11, 8]
average =  46.27272727272727

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [23]:
import re
#(1) ask user for input
sentence1 = input("enter first sentence:")
sentence2 = input("enter second sentence:")
# assign the range or values by which words are split
exp = r"[0-9a-zA-Z_]+|\$[\d\.]+|\S+"
#we look for the above expression and split the sentence into words
s1 = re.findall(exp,sentence1)
s2 = re.findall(exp,sentence2)
print("sentence1=",s1)
print("sentence2=",s2)
#(2) comparing the both sentences
# we have opened a new list and compared the elements of sentence 1 with sentence 2 and returned the common elements
#common elements are added to the list
li = []
for w1 in s1:
    for w2 in s2:
        if w1 == w2:
            li.append(w1)
print("list of words occur between both sentences:",li)

enter first sentence:hi i am good. how are you?
enter second sentence:how are you?
sentence1= ['hi', 'i', 'am', 'good', '.', 'how', 'are', 'you', '?']
sentence2= ['how', 'are', 'you', '?']
list of words occur between both sentences ['how', 'are', 'you', '?']

In [94]:
#(3) remove punctuation marks from the list
punctuation_li= ['.', ',',';',':','?','!'] 
#assigned the punctuation list which needs to be removed 
new_sen1 = "" 
# we have used for loop to check for all words in sentence one
# we have used if condition to remove punctuation marks
for p1 in s1:
    if p1 not in punctuation_li:
        new_sen1 = new_sen1+" " + p1 
print("sentence1 after removing punctuations:",new_sen1)
#run the same code as above as for sentence 1 to remove punctuations
new_sen2 = ""
for p2 in s2:
    if p2 not in punctuation_li:
        new_sen2 = new_sen2 +" "+ p2
print("sentence2 after removing punctuations:",new_sen2)

sentence1 after removing punctuations:  hi i am good how are you
sentence2 after removing punctuations:  how are you

In [95]:
#(4) count for number of vowels
# we have combined both sentences and assigned it to new
new = new_sen1 + new_sen2
# we have converted the alphabets to lower case in order to avoid case sensitive issues
new = new.lower()
print("Combined sentence:",new)
# start a new dictionary
vowels_count = {}
# if vowels are there in new sentence then use count function to count the number of vowels
for i in "aeiou":
    count = new.count(i)
    vowels_count[i] = count
vowels_count

Combined sentence:  hi i am good how are you how are you

{'a': 3, 'e': 2, 'i': 2, 'o': 6, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [48]:
from math import pi

In [54]:
# To find the volume of sphere
print("Volume of sphere with radius r is")
# we have used for loop to select r values from range of 1 - 10 values
for r in range(1,10):
    volume = (4/3)*pi*r*r*r
    print(r ," ", volume)

Volume of sphere with radius r is
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923255
4   268.082573106329
5   523.5987755982989
6   904.7786842338604
7   1436.755040241732
8   2144.660584850632
9   3053.628059289279

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [79]:
#(1) calculate difference of occupied housing units from year to year
import pandas as pd
#read the csv file into dataframe
my_dataframe1 = pd.read_csv("C:\\Users\\14696\\Documents\\Datascience\\5731\\Assignment1_denton_housing.csv",index_col="year")
#returns a new dataframe sorted in ascending order
my_dataframe1.sort_index(axis=0,ascending=True,inplace=True)

#returns a new data frame where title field is occupied housing units and reset index
my_dataframe2=my_dataframe1[my_dataframe1.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
my_dataframe2=my_dataframe2.reset_index()
# returns array with year and corresponding values
arr=my_dataframe2[["year","value"]].values

#initate a new list using for loop calculate the conscecutive difference of values and add to list
li = []
for i in range(len(arr)-1):
  li.append(arr[i+1][1]-arr[i][1])
print("consecutive difference",li)

#using for loop to assign above difference list to consecutive years
#we have used indexing to get values from list
print("consecutive_years\tdifference")
for i in range(2008,2014):
  print(i,"-",i+1,"            ",li[i-2008])

#assign the values to data
data = [['2008-2009', -795],['2009-2010', 5091],['2010-2011', -303],['2011-2012', 1404],['2012-2013', 1565],['2013-2014', 2622]]  
#create a dataframe with two columns consecutive years and difference and sort the values by difference
dataframe_3 = pd.DataFrame(data, columns = ['consecutive_years',  'difference'])
sortedvalues = dataframe_3.sort_values('difference') 
#printing the values after sorting
print("The Ascending order of the difference values is:\n")
print(sortedvalues)

consecutive difference [-795, 5091, -303, 1404, 1565, 2622]
consecutive_years	difference
2008 - 2009              -795
2009 - 2010              5091
2010 - 2011              -303
2011 - 2012              1404
2012 - 2013              1565
2013 - 2014              2622
The Ascending order of the difference values is:

  consecutive_years  difference
0         2008-2009        -795
2         2010-2011        -303
3         2011-2012        1404
4         2012-2013        1565
5         2013-2014        2622
1         2009-2010        5091

In [81]:
#(2) calculate the percentage of housing units which are occupied and vacant
my_dataframe1.reset_index(inplace=True)
#initaiate occupied list and vacant list
occupied_list=[]
vacant_list=[]

#using for loop in range of 2008 to 2015 to find number of vacant and occupied housing units
#after finding the house units divide the occupied and vacant values by total values and add to the list
for i in range(2008,2015):
  occupied_list.append((my_dataframe1[(my_dataframe1["year"]==i) & (my_dataframe1["title_field"]=="Occupied Housing Units")].value.values)/(my_dataframe1[(my_dataframe1["year"]==i) & (my_dataframe1["title_field"]=="Total Housing Units")].value.values))
  vacant_list.append((my_dataframe1[(my_dataframe1["year"]==i) & (my_dataframe1["title_field"]=="Vacant Housing Units")].value.values)/(my_dataframe1[(my_dataframe1["year"]==i) & (my_dataframe1["title_field"]=="Total Housing Units")].value.values))

#calculate the percentage of housing units which are vacant and occupied
print("Years\tVacant Housing Units\t Occupied Housing Units")
for i in range(2008,2015):
  print(i,"\t\t","{0:.0f}%".format(vacant_list[i-2008][0]*100),"\t\t","{0:.0f}%".format(occupied_list[i-2008][0]*100))

Years	Vacant Housing Units	 Occupied Housing Units
2008 		 11% 		 89%
2009 		 9% 		 91%
2010 		 8% 		 92%
2011 		 9% 		 91%
2012 		 7% 		 93%
2013 		 9% 		 91%
2014 		 6% 		 94%

In [87]:
#(3) calculate the highest number of occupied and vacant units
new_list1 = []
new_list2 = [] 

for i in range(2008,2015):
  new_list1.append(occupied_list[i-2008][0])
  new_list2.append(vacant_list[i-2008][0])

#to find the highest number of occupied and vacant units
print("\t\t\t Year\t Value")
for i in enumerate(occupied_list,start=2008):
  if(i[1][0]==max(new_list1)):
    print("Occupied Housing Units \t",i[0],"\t",(my_dataframe1[(my_dataframe1.year==i[0])&(my_dataframe1.title_field=="Occupied Housing Units")].value.values)[0])
    break
for i in enumerate(vacant_list,start=2008):
  if(i[1][0]==max(new_list2)):
    print("Vacant Housing Units \t",i[0],"\t",(my_dataframe1[(my_dataframe1.year==i[0])&(my_dataframe1.title_field=="Vacant Housing Units")].value.values)[0])
    break

			 Year	 Value
Occupied Housing Units 	 2014 	 46295
Vacant Housing Units 	 2008 	 4483

In [93]:
#(4) calculate harmonic mean of total housing units
from scipy import stats
#imported above module to calculate harmonic mean
#consider the values where title field is total housing units and calculate harmonic mean using hmean
harmonicmean = stats.hmean(my_dataframe1[my_dataframe1.title_field=="Total Housing Units"].value.values)
print("harmonic mean of total housing units is",harmonicmean)

harmonic mean of total housing units is 44398.28543969185